<% if @error %>
  <h3 style = "color: red"><%= @error %></h3>
<% end %>
<h1>Sign In: </h1>
<form class="pure-form pure-form-stacked" action="/session" method="POST">
<fieldset>
  <label for="email">Email: </label>
  <input name="email" type="text">
  <label for="password">Password</label>
  <input name="password" type="password">

  <input name="authenticity_token" value="<%= form_authenticity_token() %>" type = "hidden">
  <button class="pure-button pure-button-primary">Sign In</button>
  </fieldset>
</form>
