<div class="sign-form">
<% if @error %>
  <h3 style = "color: red"><%= @error %></h3>
<% end %>
<h1>Sign Up: </h1>
<form class="pure-form pure-form-stacked" action="/user" method="POST">
<fieldset>
<label for="name">Username: </label>
  <input name="name" type="text">
  <label for="email">Email: </label>
  <input name="email" type = "text">
  <label for="password">Password</label>
  <input name="password" type="password">
  <label for="confirm-password">Confirm Password</label>
  <input name="confirm_password" type="password">
  <input name="authenticity_token" value="<%= form_authenticity_token() %>" type = "hidden">
  <button class="pure-button pure-button-primary">Sign Up</button>
  </fieldset>
</form> 
</div>