header {
	background-color: lightblue;
	font-size: 50px;
	height: 100px;
	color: white;
	text-align: center;
	padding-top: 20px;

}
nav {
	margin: 10px 10px 10px 30px;
	height: 50px;
}
input {
  display: inline-block;
}
.centered-form {
  width: 80%;
  max-width: 400px;
  margin-left: 43%;
}
.activity-table {
	margin-left: 20%;
}
.activity-table th, .activity-table td {
  padding: 10px 30px;
}
.activity-table tr {
  border-top: 1px solid black;
}
.activity-table thead tr:first-child {
  border-top: none;
}
.alignright {
  text-align: right;
}
.debt {
  color: red;
}
a {
  text-decoration: none;
  color: rgb(66, 184, 221);
  transition: color .3s;
}
a:hover {
  color: lightblue;
  transition: color .1s;
}
ul.happybuttons {
  list-style: none;
  li {
    margin: 15px 0px;
  }
}
nav a {
  display: inline-block;
  margin: 5px 20px;
}
h2#user-home {
	text-align: center;
}
.alert-alert-success {
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 5px;
	background-color: lightgreen;
	color: green;
}
alert-alert-error {
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 5px;
	background-color: lightred;
	color: red;
}


