<div class="centered-form">
<h1>Make a Deposit</h1>
<form class="pure-form pure-form-stacked" action="/activities" method="POST">
<fieldset>
  <label for="kind">Deposit Type: </label>
  <select name="kind">
    <option value="check">check</option>
    <option value="cash">cash</option>
  </select>
  <label for="desc">Description: </label>
  <input name="desc" type="text">
  <label for="deposit">Amount: </label>
  <input name="deposit" type="text">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token() %>">

  <button class="pure-button pure-button-primary">Deposit</button>
  </fieldset>
</form> 
</div>