<div class="sign-form">
<h1>Make a Deposit</h1>
<form class="pure-form pure-form-stacked" action="/activities" method="POST">
<fieldset>
  <label for="type">Deposit Type: </label>
  <select for="type">
    <option value="check">check</option>
    <option value="cash">cash</option>
  </select>
  <label for="desc">Description: </label>
  <input name="desc" type="text">
  <label for="deposit">Amount: </label>
  <input name="deposit" type="text">

  <button class="pure-button pure-button-primary">Deposit</button>
  </fieldset>
</form> 
</div>