<div class="sign-form">
<h1>Make a Payment</h1>
<form class="pure-form pure-form-stacked" action="/activities" method="POST">
<fieldset>
  <select>
    <% @payees.each do |payee| %>
    <option><%= payee.name %></option>
    <% end %>
  </select>
  <label for="description">Description: </label>
  <input name="description" type="text">
  <label for="amount">Amount</label>
  <input name="amount" type="text">

  <button class="pure-button pure-button-primary">Pay</button>
  </fieldset>
</form> 
</div>