<div class="centered-form">
<h1>Make a Payment</h1>
<form class="pure-form pure-form-stacked" action="/activities" method="POST">
<fieldset>
  <label for="type">Payee: </label>
  <select name="type">
    <% @payees.each do |payee| %>
    <option><%= payee.name %></option>
    <% end %>
  </select>
  <label for="desc">Description: </label>
  <input name="desc" type="text">
  <label for="payment">Amount</label>
  <input name="payment" type="text">

  <button class="pure-button pure-button-primary">Pay</button>
  </fieldset>
</form> 
</div>